.NavItems{
    display: flex;
    align-items: center;
    
}
.NavItems Link{
    text-decoration: none;
}
.NavItems img{
    margin-left: 20px;
    margin-right: 20px;
}
.NavItems .NavTitle{
    margin-left: 20px;
    margin-right: 20px;
  
}
.links{
    display:flex
}
@media screen  and (max-width:960px){
    .NavItems{
        flex-direction: column;
    }
    .links{
        flex-direction: column;
    }
}